nav{
    width: 100%;
    display: flex;
    text-transform: capitalize;
    padding: 20px;
    justify-content: space-between;

}
.nav-left{
    display: flex;
    align-items: center;
    gap: 3rem;
}
.nav-left>img{
    width: 150px;
}
.nav-right{
    display: flex;
    align-items: center;
    gap: 3rem;
}
.nav-left,.nav-right>p,i{
    cursor: pointer;
}

nav p:hover{
    color:#8BC34A ;
}
.nav-right>i{
    font-size: 1.5rem;
}
.nav-right>i:hover{
    color: #8BC34A;
}